.calculator {
display: flex;
height: 800px;
justify-content: center;
}

.container {
    display: inline-block;
    height: 270px;
    /*margin: auto;*/
}

button {
    height: 50px;
    width: 50px;
    color: greenyellow;
    background-color: rgb(54, 69, 79);
    margin: 1px;
    font-size: 20px;
}

.display {
    display: inline-block;
    text-align: right;
    border: solid black;
    height: 50px;
    width: 270px;
    background-color: grey;
    color: black;
    font-size: 20px;
}
button.clear {
    width: 275px;
    margin: 1px;
}