.calculator {
display: flex;
height: 800px;
justify-content: center;
}

.container {
    display: inline-block;
    height: 500px;
    margin: 300px 600px;
}
    

button {
    height: 50px;
    width: 50px;
    color: greenyellow;
    background-color: rgb(54, 69, 79);
    margin: 1px;
    font-size: 20px;
    
}

.display {
    display: inline-block;
    text-align: center;
    border: solid black;
    height: 50px;
    width: 270px;
    background-color: darkolivegreen;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.clear {
    width: 50px;
    
}

.back {
width: 162px;
}